/*GENERAL*/

* {
    margin: 0;
    padding: 0;   
}
html {
    background-color: var(--light1);
    width: 100%;
    font-family: var(--font);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
:focus {
    outline: none;
}
::selection {
    background-color: var(--light3);
    color: var(--dark1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    scroll-behavior: smooth;
}

p {
    margin-bottom: .5em;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: var(--transition);
}

a:hover {
    color: var(--accent2);
}

a:active {
    color: var(--accent3);
}

ul, ol {
    list-style-position: inside;
}

li li {
    margin-left: 1em;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    width: fit-content;
    margin: .5em 0;
}

/*SCROLLBAR*/

body::-webkit-scrollbar, #site-map::-webkit-scrollbar, #search-results::-webkit-scrollbar, #toc::-webkit-scrollbar, .table-container::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-thumb, #site-map::-webkit-scrollbar-thumb, #search-results::-webkit-scrollbar-thumb, .table-container::-webkit-scrollbar-thumb, #toc::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-track, #site-map::-webkit-scrollbar-track, #search-results::-webkit-scrollbar-track, .table-container::-webkit-scrollbar-track, #toc::-webkit-scrollbar-track {
    background-color: transparent;
}
body, #site-map, #search-results, #toc, .table-container {
    scrollbar-width: none;
}
body, #site-map, #search-results, #toc, .table-container {
    overflow: -moz-scrollbars-none;
}

/*HEADER*/

header {
    width: 100%;
    height: 25vh;
    background-image: var(--gradient2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--light1);
}

/*NAV*/

nav {
    width: 100%;
    background-image: var(--gradient2);
    color: var(--accent5);
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

nav * {
    width: fit-content;
}

nav i {
    font-size: var(--tiny-size);
}

#nav-links-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.5em;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
}

.main-nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-right: 1.5em;
    border-right: solid 1px var(--light1);
}

.sites-nav-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 1.5em;
}

.nav-link {
    color: var(--light1);
    text-decoration: none;
    padding: .35em;
    border-radius: .3em;
    font-weight: bold;
    transition: var(--transition);
}

.nav-link:hover {
    background-color: var(--accent2);
    color: var(--light1);
}

.nav-link:active {
    background-color: var(--accent3);
    color: var(--light1);
}

#nav-search {
    padding-right: 3em;
    color: var(--light1);
    width: 40%;
}

#nav-search i {
    font-size: 15px;
}

#nav-search-bar {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    border: solid 2px var(--light1);
    width: 100%;
    padding: .35em;
    border-radius: .3em;
    position: relative;
}

#nav-search-bar:has(#search-input:focus) {
    outline: 2px solid var(--accent5);
}

#search-input {
    background: none;
    border: none;
    outline: none;
    color: var(--light1);
    font-size: var(--font-size);
    font-weight: bold;
    width: 100%;
}

#search-input::placeholder {
    color: var(--light1);
    font-weight: normal;
}

#search-results-container {
    position: absolute;
    top: 32px;
    left: -2px;
    background-color: #000000d7;
    z-index: 1000;
    padding: 1em;
    width: fit-content;
    border-left: 4px solid var(--accent3);
    display: none;
}

#search-results {
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.nav-utils {
    width: fit-content;
    display: none;
    flex-direction: row;
    gap: 1em;
    display: none;
    padding-left: 2em;
}

.nav-util {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .3em;
    background-color: transparent;
    color: var(--light1);
    transition: var(--transition);
}

.nav-util i {
    font-size: var(--h4-size);
}

.nav-util:hover {
    cursor: pointer;
    background-color: var(--accent2);
}

.nav-util:active {
    background-color: var(--accent3);
}

#toc-toggle {
    display: none;
}

/*FLEX CONTAINER*/

.flex-container {
    display: flex;
    flex-direction: row;
    padding: var(--spacer);
    width: 95vw;
    align-items: flex-start;
    justify-content: center;
}

/*LAYOUT*/

.aside-title {
    font-size: var(--h4-size);
    color: var(--accent1);
    font-weight: bold;
    margin-bottom: 1em;
}

#site-map {
    padding-right: 2em;
    border-right: solid 1px var(--dark1);
    width: 20%;
    padding-bottom: 1em;
    position: sticky;
    top: 2em;
    display: block;
    overflow: auto;
    max-height: 95vh;
}

.site-map-section {
    display: flex;
    flex-direction: column;
    margin-bottom: .1em;
}

.section-button {
    width: fit-content;
    background-color: var(--light2);
    color: var(--dark1);
    font-size: var(--font-size);
    border: none;
    text-align: left;
    padding: .35em;
    margin: .3em 0;
    border-radius: .3em;
    transition: var(--transition);
    font-weight: bold;
}

.section-button:hover {
    cursor: pointer;
    background-color: var(--accent5);
}

.section-content {
    padding-left: 1em;
    display: none;
}

.site-map-section.toggled > .section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.note-link.highlighted {
    color: var(--accent2);
}

#main-toc {
    width: 80%;
    margin-left: 2em;
}

.main-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: .4em;
    color: var(--accent1);
}

figure {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figcaption {
    text-align: center;
    font-size: var(--tiny-size);
    font-style: italic;
}

figure img {
    background-color: white;
    width: 100%;
    max-width: 550px;
}

/*FOOTER*/

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--gradient1);
    padding: var(--spacer);
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--light1);
    gap: 2em;
    width: 95vw;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.footer-container strong {
    padding-bottom: .8em;
}

.footer-link {
    color: var(--light1);
}

.footer-link:hover {
    color: var(--light4);
}

@media (max-width:1080px) {
    #site-map {
        display: none;
        background-color: var(--light1);
        position: absolute;
        z-index: 900;
        top: 28em;
        left: 0;
        border-right: none;
        padding: 1em;
        width: 100%;
        border-bottom: solid 4px var(--accent3);
    }
    #site-map.toggled-by-util {
        display: block;
    }
    #main-toc {
        width: 100%;
        margin-left: 0;
    }
    .nav-utils {
        display: flex;
    }
}

@media (max-width:680px) {
    #nav-links-search {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .nav-links {
        padding-right: 2em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .main-nav-links {
        border-right: none;
    }
    .sites-nav-links {
        padding-left: 0;
    }
    #nav-search {
        padding-right: 2em;
        margin-left: 2.2em;
        width: 200px;
    }
    #site-map {
        top: 33em;
    }
}