header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 2em 0;
    background-color: var(--bg-clr2);
    border-radius: 20px;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 99;
}
#site-map-toggle-btn, #search-btn, #go-up-btn {
    display: none;
}
#header-logo-img {
    height: 30px;
}
.header-logo-link {
    text-decoration: none;
    color: var(--txt-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-utils {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
}
.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.header-search i {
    color: var(--bg-clr3);
}
.header-search input {
    border-radius: 400em;
    font-size: var(--font-size);
    padding: .4em 1em;
    border: var(--border);
    width: 35vw;
    background-color: var(--bg-clr2);
    color: var(--txt-clr);
}
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

@media (max-width:1100px) {
    #go-up-btn {
        display: flex;
    }
}
@media (max-width:680px) {
    #site-map-toggle-btn, #search-btn {
        display: flex;
    }
    .header-search {
        display: none;
    }
}
@media (max-width:500px) {
    #header-logo-img {
        width: auto;
        height: 24px;
    }
}
@media (max-width:280px) {
    #header-logo-img {
        width: auto;
        height: 18px;
    }
}