.site-map {
    width: 35%;
    height: fit-content;
    position: sticky;
    top: 6em;
    display: block;
    overflow: unset;
}
.site-map .flex-container {
    justify-content: space-between;
    align-items: center;
}
#site-map-untoggle-btn {
    display: none;
}
.site-map.toggled #site-map-untoggle-btn {
    display: flex;
}
.site-map-content {
    margin-top: 1em;
}
.section-content {
    padding-left: 1em;
}

@media (max-width:680px) {
    .site-map {
        display: none;
    }
    .site-map.toggled {
        display: block;
        position: absolute;
        width: 95vw;
        height: 92vh;
        top: 2em;
        z-index: 999;
    }
}