<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Vzorec</th>
        <th>Název</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$HF$</td>
        <td>kyselina fluorovodíková</td>
      </tr>
      <tr>
        <td>$HCl$</td>
        <td>kyselina chlorovodíková</td>
       
      </tr>
      <tr>
        <td>$HBr$</td>
        <td>kyselina bromovodíková</td>
      </tr>
      <tr>
        <td>$HI$</td>
        <td>kyselina jodovodíková</td>
      </tr>
      <tr>
        <td>$H_2S$</td>
        <td>kyselina sirovodíková</td>
      </tr>
      <tr>
        <td>$H_2Se$</td>
        <td>kyselina selenovodíková</td>
      </tr>
      <tr>
        <td>$H_2Te$</td>
        <td>kyselina tellurovodíková</td>
      </tr>
      <tr>
        <td>$HCN$</td>
        <td>kyselina kyanovodíková</td>
      </tr>
    </tbody>
  </table>
</div>