<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Prvek
                </th>
                <th>
    
    Atomové číslo
                </th>
                <th>
    
    Elektronová konfigurace
                </th>
                <th>
    
    Skupina
                </th>
                <th>
    
    Perioda
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    Helium
                </th>
                <td>
    
    2
                </td>
                <td>
    
    $1s^2$
                </td>
                <td rowspan="6">
    
    18
                </td>
                <td>
    
    1
                </td>
            </tr>
            <tr>
                <th>
    
    Neon
                </th>
                <td>
    
    10
                </td>
                <td>
    
    $1s^22s^22p^6$
                </td>
                <td>
    
    2
                </td>
            </tr>
            <tr>
                <th>
    
    Argon
                </th>
                <td>
    
    18
                </td>
                <td>
    
    $1s^22s^22p^63s^23p^6$
                </td>
                <td>
    
    3
                </td>
            </tr>
            <tr>
                <th>
    
    Krypton
                </th>
                <td>
    
    36
                </td>
                <td>
    
    $1s^22s^22p^63s^23p^64s^23d^{10}4p^6$
                </td>
                <td>
    
    4
                </td>
            </tr>
            <tr>
                <th>
    
    Xenon
                </th>
                <td>
    
    54
                </td>
                <td>
    
    $1s^22s^22p^63s^23p^64s^23d^{10}4p^65s^24d^{10}5p^6$
                </td>
                <td>
    
    5
                </td>
            </tr>
            <tr>
                <th>
    
    Radon
                </th>
                <td>
    
    86
                </td>
                <td>
    
    $1s^22s^22p^63s^23p^64s^23d^{10}4p^65s^24d^{10}5p^66s^24f^{14}5d^{10}6p^6$
                </td>
                <td>
    
    6
                </td>
            </tr>
        </tbody>
        <caption>
    
    Elektronové konfigurace vzácných plynů
        </caption>
    </table>
</div>