<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Počet atomů uhlíku</th>
        <th>Název</th>
        <th>Molekulový vzorec</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>5</td>
        <td>pentan</td>
        <td>$C_5H_{12}$</td>
      </tr>
      <tr>
        <td>6</td>
        <td>hexan</td>
        <td>$C_6H_{14}$</td>
      </tr>
      <tr>
        <td>7</td>
        <td>heptan</td>
        <td>$C_7H_{16}$</td>
      </tr>
      <tr>
        <td>8</td>
        <td>oktan</td>
        <td>$C_8H_{18}$</td>
      </tr>
      <tr>
        <td>9</td>
        <td>nonan</td>
        <td>$C_9H_{20}$</td>
      </tr>
      <tr>
        <td>10</td>
        <td>dekan</td>
        <td>$C_{10}H_{22}$</td>
      </tr>
      <tr>
        <td>11</td>
        <td>undekan</td>
        <td>$C_{11}H_{24}$</td>
      </tr>
      <tr>
        <td>12</td>
        <td>dodekan</td>
        <td>$C_{12}H_{26}$</td>
      </tr>
      <tr>
        <td>13</td>
        <td>tridekan</td>
        <td>$C_{13}H_{28}$</td>
      </tr>
      <tr>
        <td>14</td>
        <td>tetradekan</td>
        <td>$C_{14}H_{30}$</td>
      </tr>
      <tr>
        <td>15</td>
        <td>pentadekan</td>
        <td>$C_{15}H_{32}$</td>
      </tr>
      <tr>
        <td>16</td>
        <td>hexadekan</td>
        <td>$C_{16}H_{34}$</td>
      </tr>
      <tr>
        <td>17</td>
        <td>heptadekan</td>
        <td>$C_{17}H_{36}$</td>
      </tr>
      <tr>
        <td>18</td>
        <td>oktadekan</td>
        <td>$C_{18}H_{38}$</td>
      </tr>
      <tr>
        <td>19</td>
        <td>nonadekan</td>
        <td>$C_{19}H_{40}$</td>
      </tr>
      <tr>
        <td>20</td>
        <td>ikosan</td>
        <td>$C_{20}H_{42}$</td>
      </tr>
    </tbody>
  </table>
</div>