<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Počet atomů uhlíku</th>
        <th>Název</th>
        <th>Molekulový vzorec</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>methan</td>
        <td>$CH_4$</td>
      </tr>
      <tr>
        <td>2</td>
        <td>ethan</td>
        <td>$C_2H_6$</td>
      </tr>
      <tr>
        <td>3</td>
        <td>propan</td>
        <td>$C_3H_8$</td>
      </tr>
      <tr>
        <td>4</td>
        <td>butan</td>
        <td>$C_4H_{10}$</td>
      </tr>
    </tbody>
  </table>
</div>