<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th colspan="2">
    
    Obsah hlavních prvků
                </th>
                <th colspan="2">
    
    Obsah stopových prvků
                </th>
            </tr>
            <tr>
                <th>
    
    Prvek
                </th>
                <th class="center">
    
    Obsah
                </th>
                <th>
    
    Prvek
                </th>
                <th class="center">
    
    Obsah
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/oxygen">kyslík</a>
                </td>
                <td class="center">
    
    44 kg
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/iron">železo</a>
                </td>
                <td class="center">
    
    5 g
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/carbon">uhlík</a>
                </td>
                <td class="center">
    
    12.6 kg
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/silicon">křemík</a>
                </td>
                <td class="center">
    
    3 g
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/hydrogen">vodík</a>
                </td>
                <td class="center">
    
    6.6 kg
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/zinc">zinek</a>
                </td>
                <td class="center">
    
    1.75 g
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/nitrogen">dusík</a>
                </td>
                <td class="center">
    
    1.8 kg
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/alkali-metals">rubidium</a>
                </td>
                <td class="center">
    
    360 mg
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/alkaline-earth-metals">vápník</a>
                </td>
                <td class="center">
    
    1.7 kg
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/copper">měď</a>
                </td>
                <td class="center">
    
    280 mg
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/phosphorus">fosfor</a>
                </td>
                <td class="center">
    
    680 g
                </td>
                <td>
    
    stroncium
                </td>
                <td class="center">
    
    280 g
                </td>
            </tr>
            <tr>
                <td>
    
    draslík
                </td>
                <td class="center">
    
    250 g
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/halogenes">brom</a>
                </td>
                <td class="center">
    
    140 mg
                </td>
            </tr>
            <tr>
                <td>
    
    chlor
                </td>
                <td class="center">
    
    115 g
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/other-tetrels">cín</a>
                </td>
                <td class="center">
    
    140 mg
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/sulfur">síra</a>
                </td>
                <td class="center">
    
    100 g
                </td>
                <td>
    
    <a href="/notes/research/chemistry/inorganic-chemistry/periodic-table/manganese">mangan</a>
                </td>
                <td class="center">
    
    70 mg
                </td>
            </tr>
            <tr>
                <td>
    
    sodík
                </td>
                <td class="center">
    
    70 g
                </td>
                <td>
    
    jod
                </td>
                <td class="center">
    
    70 mg
                </td>
            </tr>
            <tr>
                <td>
    
    hořčík
                </td>
                <td class="center">
    
    42 g
                </td>
                <td>
    
    hliník
                </td>
                <td class="center">
    
    35 mg
                </td>
            </tr>
        </tbody>
        <caption>
    
    Obsahy hlavních a stopových prvků v lidském těle (o hmotnosti 70 kg)
        </caption>
    </table>
</div>