<div class="table-coin">
    <table class="note-table">
        <thead>
            <tr>
                <th>Akce</th>
                <th>Reakce</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>přidání reaktantů</th>
                <td>zvyšení koncentrace produktů</td>
            </tr>
            <tr>
                <th>přidání produktů</th>
                <td>zvýšení koncentrace reaktantů</td>
            </tr>
            <tr>
                <th rowspan="2">snížení teploty</th>
                <td>exotermické reakce - koncentrace produktů roste</td>
            </tr>
            <tr>
                <td>endotermické reakce - $K$ roste</td>
            </tr>
            <tr>
                <th rowspan="2">zvýšení teploty</th>
                <td>exotermické reakce - $K$ roste</td>
            </tr>
            <tr>
                <td>endotermická reakce - koncentrace produktů roste</td>
            </tr>
            <tr>
                <th>snížení tlaku (plyny)</th>
                <td>roste koncentrace produktů reakce, při které vzniká větší objem látek</td>
            </tr>
            <tr>
                <th>zvýšení tlaku (plyny)</th>
                <td>roste koncentrace produktů reakce, při které vzniká menší objem látek</td>
            </tr>
        </tbody>
    </table>
</div>