<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Frakce</th>
        <th>Teplota varu [°C]</th>
        <th>Získané sloučeniny</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>lehký olej</td>
        <td>do 150</td>
        <td>benzen, toluen, xyleny</td>
      </tr>
      <tr>
        <td>karbolový olej</td>
        <td>do 180</td>
        <td>fenoly, kresoly, pyridin</td>
      </tr>
      <tr>
        <td>naftalenový olej</td>
        <td>do 215</td>
        <td>naftalen</td>
      </tr>
      <tr>
        <td>prací olej</td>
        <td>do 250</td>
        <td>benzen, impregnační oleje</td>
      </tr>
      <tr>
        <td>anthracenový olej</td>
        <td>do 380</td>
        <td>anthracen</td>
      </tr>
      <tr>
        <td>dehetová smůla</td>
        <td>nad 380</td>
        <td>izolační materiály, pojivo při výrobě btiket</td>
      </tr>
    </tbody>
  </table>
</div>