<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Uhlí</th>
        <th>$C$ [%]</th>
        <th>$H$ [%]</th>
        <th>$O$ [%]</th>
        <th>$N$ [%]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hnědé</td>
        <td>60 &ndash; 70</td>
        <td>5 &ndash; 6</td>
        <td>20 &ndash; 30</td>
        <td>0.5 &ndash; 1.5</td>
      </tr>
      <tr>
        <td>Černé</td>
        <td>75 &ndash; 90</td>
        <td>4.5 &ndash; 5.5</td>
        <td>5 &ndash; 15</td>
        <td>1 &ndash; 1.5</td>
      </tr>
      <tr>
        <td>Antracit</td>
        <td>90 &ndash; 95</td>
        <td>2 &ndash; 3</td>
        <td>2 &ndash; 3</td>
        <td>0.1 &ndash; 0.5</td>
      </tr>
    </tbody>
  </table>
</div>