<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Značka</th>
        <th>Název</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$F^-$</td>
        <td>fluorido- (dříve fluoro-)</td>
      </tr>
      <tr>
        <td>$Cl^-$</td>
        <td>chlorido- (dríve chloro-)</td>
      </tr>
      <tr>
        <td>$Br^-$</td>
        <td>bromido- (dříve bromo-)</td>
      </tr>
      <tr>
        <td>$I^-$</td>
        <td>jodido- (dříve jodo-)</td>
      </tr>
      <tr>
        <td>$OH^-$</td>
        <td>hydroxido- (dřive hydroxo-)</td>
      </tr>
      <tr>
        <td>$CN^-$</td>
        <td>kyanido- (dříve kyano-)</td>
      </tr>
      <tr>
        <td>$SCN^-$</td>
        <td>thiokyano-, rhodanido- (dříve rhodano-)</td>
      </tr>
      <tr>
        <td>$O_2^{2-}$</td>
        <td>peroxido- (dříve peroxo-)</td>
      </tr>
      <tr>
        <td>$H_2O$</td>
        <td>aqua-</td>
      </tr>
      <tr>
        <td>$NH_3$</td>
        <td>ammin-</td>
      </tr>
      <tr>
        <td>$CO$</td>
        <td>karbonyl-</td>
      </tr>
      <tr>
        <td>$NO$</td>
        <td>nitrosyl-</td>
      </tr>
      <tr>
        <td>$O^{2-}$</td>
        <td>oxo-</td>
      </tr>
      <tr>
        <td>$S^{2-}$</td>
        <td>thio-</td>
      </tr>
      <tr>
        <td>$SO_4^{2-}$</td>
        <td>sulfato-</td>
      </tr>
      <tr>
        <td>$NO_3^-$</td>
        <td>nitrato-</td>
      </tr>
      <tr>
        <td>$NO_2^-$</td>
        <td>nitrito</td>
      </tr>
      <tr>
        <td>$H^-$</td>
        <td>hydrido</td>
      </tr>
    </tbody>
  </table>
</div>