<table class="note-table">
    <thead>
        <tr>
            <th>

Positiv
            </th>
            <th>

Komparativ
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="it">

good/well
            </td>
            <td class="it">

better
            </td>
        </tr>
        <tr>
            <td class="it">

bad/badly
            </td>
            <td class="it">

worse
            </td>
        </tr>
        <tr>
            <td class="it">

far
            </td>
            <td class="it">

farther/further
            </td>
        </tr>
    </tbody>
    <caption>

Nepravidelné tvary kompartivů
    </caption>
</table>v