<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Název frakce</th>
        <th>Uhlovodíkový obsah</th>
        <th>Teplota varu [°C]</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>těžký benzín</td>
        <td>$C_8$ $C_{11}$</td>
        <td>80 &ndash; 200</td>
      </tr>
      <tr>
        <td>petrolej</td>
        <td>$C_{10}$ $C_{18}$</td>
        <td>180 &ndash; 270</td>
      </tr>
      <tr>
        <td>plynový olej</td>
        <td>$C_{15}$ $C_{24}$</td>
        <td>250 &ndash; 400</td>
      </tr>
      <tr>
        <td>olejové destiláty</td>
        <td>vyšší uhlovodíky</td>
        <td>>350</td>
      </tr>
      <tr>
        <td>mazut</td>
        <td>vyšší uhlovodíky</td>
        <td>destlační zbytek</td>
      </tr>
    </tbody>
  </table>
</div>