<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>Krystalografická soustava</th>
                <th>Tvar</th>
                <th>Parametr</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>krychlová (kubická)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FCFSR2cNV88.png?alt=media&token=e774d1ff-b7a0-43e8-ae54-3e4e8233c04f"></td>
                <td>$a=b=c$, $\alpha=\beta=\gamma=90°$</td>
            </tr>
            <tr>
                <td>čtverečná (tetragonální)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2F4mHdFmTSr_.png?alt=media&token=45c8dc38-e131-4c22-a2fe-3647794ca596"></td>
                <td>$a=b\neq{c}$, $\alpha=\beta=\gamma=90°$</td>
            </tr>
            <tr>
                <td>kosočtvrečná (ortorombická)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FD2O1iZF1kB.png?alt=media&token=bd79c3db-36bc-4dca-8144-3cf7f68f07dc"></td>
                <td>$a\neq{b}\neq{c}$, $\alpha=\beta=\gamma=90°$</td>
            </tr>
            <tr>
                <td>jednoklonná (monoklinická)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FrCbMFYbxml.png?alt=media&token=a009d252-a9d4-49a9-9333-05c0277dfcc6"></td>
                <td>$a\neq{b}\neq{c}$, $\alpha=\gamma=90°,\beta\neq{90°}$</td>
            </tr>
            <tr>
                <td>trojklonná (triklinická)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FNG65r2xsJO.png?alt=media&token=27df23ec-1295-461a-a90e-ef31d88c3997"></td>
                <td>$a\neq{b}\neq{c}$, $\alpha\neq\beta\neq\gamma\neq{90°}$</td>
            </tr>
            <tr>
                <td>šesterečná (hexagonální)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FIVsXB_BNXC.png?alt=media&token=f057503c-3125-4d2e-826e-9984965fd3bd"></td>
                <td>$a=b\neq{c}$, $\alpha=\beta=90°,\gamma=120°$</td>
            </tr>
            <tr>
                <td>klencová (romboedrická)</td>
                <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FxDabeLndIo.png?alt=media&token=137bdfe2-edae-4d56-b08c-98f1aa9a74aa"></td>
                <td>$a=b=c$, $\alpha=\beta=\gamma\neq{90°}$</td>
            </tr>
        </tbody>
    </table>
</div>