<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Ion
                </th>
                <th>
    
    Half-reaction
                </th>
                <th class="center">
    
    $E^0$ (V)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
    
    $Au^+$
                </td>
                <td>
    
    $Au^+ + e^- \longrightarrow Au$
                </td>
                <td class="center">
    
    1.692
                </td>
            </tr>
            <tr>
                <td>
    
    $Ag^+$
                </td>
                <td>
    
    $Ag^+ + e^- \longrightarrow Ag$
                </td>
                <td class="center">
    
    0.7996
                </td>
            </tr>
            <tr>
                <td>
    
    $Cu^{2+}$
                </td>
                <td>
    
    $Cu^{2+} + 2\ e^- \longrightarrow Cu$
                </td>
                <td class="center">
    
    0.342
                </td>
            </tr>
            <tr>
                <th>
    
    $H^+$
                </th>
                <th>
    
    $2\ H^+ + 2\ e^- \longrightarrow H_2$
                </th>
                <th class="center">
    
    0
                </th>
            </tr>
            <tr>
                <td>
    
    $Fe^{3+}$
                </td>
                <td>
    
    $Fe^{3+} + 3\ e^- \longrightarrow Fe$
                </td>
                <td class="center">
    
    -0.037
                </td>
            </tr>
            <tr>
                <td>
    
    $Pb^{2+}$
                </td>
                <td>
    
    $Pb^{2+} + 2\ e^- \longrightarrow Pb$
                </td>
                <td class="center">
    
    -0.126
                </td>
            </tr>
            <tr>
                <td>
    
    $Ni^{2+}$
                </td>
                <td>
    
    $Ni^{2+} + 2\ e^- \longrightarrow Ni$
                </td>
                <td class="center">
    
    -0.257
                </td>
            </tr>
            <tr>
                <td>
    
    $Cd^{2+}$
                </td>
                <td>
    
    $Cd^{2+} + 2\ e^- \longrightarrow Cd$
                </td>
                <td class="center">
    
    -0.403
                </td>
            </tr>
            <tr>
                <td>
    
    $Fe^{2+}$
                </td>
                <td>
    
    $Fe^{2+} + 2\ e^- \longrightarrow Fe$
                </td>
                <td class="center">
    
    -0.447
                </td>
            </tr>
            <tr>
                <td>
    
    $Zn^{2+}$
                </td>
                <td>
    
    $Zn^{2+} + 2\ e^- \longrightarrow Zn$
                </td>
                <td class="center">
    
    -0.762
                </td>
            </tr>
            <tr>
                <td>
    
    $Al^{3+}$
                </td>
                <td>
    
    $Al^{3+} + 3\ e^- \longrightarrow Al$
                </td>
                <td class="center">
    
    -1.662
                </td>
            </tr>
        </tbody>
        <caption>
    
    Table of standard electron potentials of some elements
        </caption>
    </table>
</div>