<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th class="center">
    
    Třída
                </th>
                <th>
    
    Enzymy
                </th>
                <th>
    
    Katalyzovaná reakce
                </th>
                <th>
    
    Příklad
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
    
    1
                </td>
                <td class="it">
    
    Oxidoreduktasy
                </td>
                <td>
    
    oxidace a redukce (přenos elektronů, vodíku nebo reakce s kyslíkem)
                </td>
                <td>
    
    dehydrogenasy, oxidasy
                </td>
            </tr>
            <tr>
                <td class="center">
    
    2
                </td>
                <td class="it">
    
    Transferasy
                </td>
                <td>
    
    přenos skupin atomů mezi dvěma substráty (z donoru na akceptor)
                </td>
                <td>
    
    aminotransferasy, fosforylasy
                </td>
            </tr>
            <tr>
                <td class="center">
    
    3
                </td>
                <td class="it">
    
    Hydrolasy
                </td>
                <td>
    
    hydrolytické štěpení kovalentních vazeb
                </td>
                <td>
    
    lipasy, amylasy, peptidasy
                </td>
            </tr>
            <tr>
                <td class="center">
    
    4
                </td>
                <td class="it">
    
    Lyasy
                </td>
                <td>
    
    nehydrolytické štěpení vazeb $C-C$, vznik dvojné vazby, případně adice na dvojnou vazbu
                </td>
                <td>
    
    dekarboxylasy
                </td>
            </tr>
            <tr>
                <td class="center">
    
    5
                </td>
                <td class="it">
    
    Izomerasy
                </td>
                <td>
    
    intramolekulární strukturní přeměny substrátu
                </td>
                <td>
    
    triosafosfátizomerasa
                </td>
            </tr>
            <tr>
                <td class="center">
    
    6
                </td>
                <td class="it">
    
    Ligasy (synthetasy)
                </td>
                <td>
    
    spojení dvou molekul za účasti makroergické vazby
                </td>
                <td>
    
    DNA-polymerasa
                </td>
            </tr>
        </tbody>
        <caption>
    
    Klasifikace enzymů dle typu reakce
        </caption>
    </table>
</div>