<table class="note-table">
    <thead>
        <tr>
            <th></th>
            <th>

For
            </th>
            <th>

Since
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>

Struktura
            </th>
            <td>

for + časový úsek
            </td>
            <td>

since + začátek časového úseku
            </td>
        </tr>
        <tr>
            <th>

Používá se s
            </th>
            <td class="it">

two hours, 20 minutes, six months, ages, so long, 50 years
            </td>
            <td class="it">

8 o' clock, April, Monday, 2001, we arrived
            </td>
        </tr>
        <tr>
            <th>

Příklady
            </th>
            <td class="it">

Sally has been waiting for six months.
            </td>
            <td class="it">

Sally has been working here since April.
            </td>
        </tr>
    </tbody>
    <caption>

Shrnutí užití for a since
    </caption>
</table>