<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Druh
                </th>
                <th>
    
    Hormony a endokrynní žlázy
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/biochemistry/descriptive-biochemistry/peptides">peptidy</a>, <a href="notes/research/chemistry/biochemistry/descriptive-biochemistry/proteins">bílkoviny</a>
                </td>
                <td>
    
    hormony hypofýzy, slinivky břišní, přístinných tělísek, některé tkáňové hormony
                </td>
            </tr>
            <tr>
                <td>
    
    <a href="/notes/research/chemistry/biochemistry/descriptive-biochemistry/isoprenoids#steroidy">steroidy</a>
                </td>
                <td>
    
    lipofilní hormony kůry nadledvin a pohlavních žláz obratlovců, svlékací hormon hmyzu
                </td>
            </tr>
            <tr>
                <td>
    
    deriváty <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#tyrosin-(tyr)">tyrosinu</a>
                </td>
                <td>
    
    katecholaminy dřeně nadledvin, hormony štítné žlázy
                </td>
            </tr>
        </tbody>
        <caption>
    
    Klasifikace hormonů dle složení
        </caption>
    </table>
</div>