<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Typ terpenu
                </th>
                <th class="center">
    
    Počet isoprenových jednotek
                </th>
                <th class="center">
    
    Počet atomů uhlíku
                </th>
                <th>
    
    Sloučeniny
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="it">
    
    Monoterpeny
                </td>
                <td class="center">
    
    2
                </td>
                <td class="center">
    
    10
                </td>
                <td>
    
    limonen, menthol, geraniol, pinen, kafr
                </td>
            </tr>
            <tr>
                <td class="it">
    
    Seskviterpeny
                </td>
                <td class="center">
    
    3
                </td>
                <td class="center">
    
    15
                </td>
                <td>
    
    farnasen
                </td>
            </tr>
            <tr>
                <td class="it">
    
    Diterpeny
                </td>
                <td class="center">
    
    4
                </td>
                <td class="center">
    
    20
                </td>
                <td>
    
    fytol, <a href="/notes/research/chemistry/biochemistry/descriptive-biochemistry/vitamins#vitamin-a">vitamin A</a>
                </td>
            </tr>
            <tr>
                <td class="it">
    
    Triterpeny
                </td>
                <td class="center">
    
    6
                </td>
                <td class="center">
    
    30
                </td>
                <td>
    
    skvalen
                </td>
            </tr>
            <tr>
                <td class="it">
    
    Tetraterpeny
                </td>
                <td class="center">
    
    8
                </td>
                <td class="center">
    
    40
                </td>
                <td>
    
    karoteny, xyntofyly, lykopen
                </td>
            </tr>
            <tr>
                <td class="it">
    
    Polyterpeny
                </td>
                <td class="center">
    
    $n$
                </td>
                <td class="center">
    
    $5n$
                </td>
                <td>
    
    přírodní kaučuk, gutaperča
                </td>
            </tr>
        </tbody>
        <caption>
    
    
        </caption>
    </table>
</div>