<div class="table-container">

</div>
<table class="note-table">
    <thead>
        <tr>
            <th>Třída/Podtřída</th>
            <th>Činidla</th>
            <th>Přklady kationtů</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>I.</th>
            <td>Zředěná $HCl$</td>
            <td>$Ag^+$, $Pb^{2+}$, $Hg^{2+}_2$</td>
        </tr>
        <tr>
            <th>II.a</th>
            <td>$H_2S$ v kyselém prostředí, potom roztok $Na_S2$ a $(NH_4)_2S_x$</td>
            <td>$Cu^{2+}$, $Hg^{2+}$, $Cd^{2+}$</td>
        </tr>
        <tr>
            <th>II.b</th>
            <td>$H_2S$ v kyselém prostředí, potom nic</td>
            <td>$Sn^{2+}$</td>
        </tr>
        <tr>
            <th>III.</th>
            <td>$(NH_4)_2S$ v prostředí $NH_3$ a $NH_4Cl$</td>
            <td>$Fe^{2+}$, $Fe^{3+}$, $Ni^{2+}$, $Zn^{2+}$, $Mn^{2+}$</td>
        </tr>
        <tr>
            <th>IV.</th>
            <td>$(NH_4)_2CO_3$ v prostředí s $NH_3$ a $NH_4Cl$</td>
            <td>$Ca^{2+}$, $Sr^{2+}$, $Ba^{2+}$</td>
        </tr>
        <tr>
            <th>V.</th>
            <td>žádné předchozí činidlo</td>
            <td>$Li^+$, $Na^+$, $K^+$, $Mg^{2+}$, $NH_4^+$</td>
        </tr>
    </tbody>
    <caption>Třídy kationtů a jejich činidla</caption>
</table>