<div class="table container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Třída
                </th>
                <th>
    
    Činidlo
                </th>
                <th>
    
    Reakce s činidlem
                </th>
                <th>
    
    Příklady aniontů
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    I.a
                </th>
                <td rowspan="3">
    
    $Ba(NO_3)_2$
                </td>
                <td>
    
    sraženina barnaté soli je nerozpustná v _kyselině dusičné_
                </td>
                <td>
    
    $SO_4^{2-}$
                </td>
            </tr>
            <tr>
                <th>
    
    I.b
                </th>
                <td>
    
    sraženina barnaté soli je rozpustná v _kyselině dusičné_, ale je nerozpustná v _kyselině octové_
                </td>
                <td>
    
    $SO_3^{2-}, S_2O_3^{2-}, F^-, CrO_4^{2-}$
                </td>
            </tr>
            <tr>
                <th>
    
    I.c
                </th>
                <td>
    
    sraženina je rozpustná v obou zmíněných kyselinách
                </td>
                <td>
    
    $CO_3^{2-}, PO_4^{3-}$
                </td>
            </tr>
            <tr>
                <th>
    
    II.
                </th>
                <td>
    
    $AgNO_3$
                </td>
                <td>
    
    vzniká bilá sraženina
                </td>
                <td>
    
    $Cl^-, Br^-, I^-, S^{2-}$
                </td>
            </tr>
            <tr>
                <th>
    
    III.
                </th>
                <td>
    
    žádné z předchozích činidel
                </td>
                <td></td>
                <td>
    
    $NO_3^-, NO_2^-$
                </td>
            </tr>
        </tbody>
        <caption>
    
    Třidy aniontů a jejich činidla
        </caption>
    </table> 
</div>