<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th></th>
                <th>
        
    Liquid
                </th>
                <th>
        
    Solid
                </th>
                <th>
        
    Gas
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    Liquid
                </th>
                <td>
    
    emulsion
                </td>
                <td>
    
    gel
                </td>
                <td rowspan="3">
    
    aerosol
                </td>
            </tr>
            <tr>
                <th>
    
    Solid
                </th>
                <td>
    
    suspension
                </td>
                <td>
    
    solid solution
                </td>
            </tr>
            <tr>
                <th>
    
    Gas
                </th>
                <td>
    
    foam
                </td>
                <td>
    
    aerogel
                </td>
            </tr>
        </tbody>
        <caption>
    
    Colloidal mixtures (dispersion medium on top, dispersed substance on the left)
        </caption>
    </table>
</div>