<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Značka</th>
        <th>Číslo</th>
        <th>Index</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$A$</td>
        <td>atomové (protonové) číslo</td>
        <td>levý dolní $_AX$</td>
      </tr>
      <tr>
        <td>$Z$</td>
        <td>nukleonové (hmotnostní) číslo</td>
        <td>levý horní $^ZA$</td>
      </tr>
      <tr>
        <td></td>
        <td>nábohové číslo (náboj)</td>
        <td>pravý horní $X^{n+}$</td>
      </tr>
    </tbody>
  </table>
</div>