<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Prefix</th>
        <th>Číslovka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>bis-</td>
        <td>dvakrát</td>
      </tr>
      <tr>
        <td>tris-</td>
        <td>třikrát</td>
      </tr>
      <tr>
        <td>tetrakis-</td>
        <td>čtyřikrát</td>
      </tr>
      <tr>
        <td>pentakis-</td>
        <td>pětkrát</td>
      </tr>
      <tr>
        <td>hexakis-</td>
        <td>šestkrát</td>
      </tr>
    </tbody>
  </table>
</div>