<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Oxidační číslo</th>
        <th>Suffix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$I$</td>
        <td>-ný</td>
      </tr>
      <tr>
        <td>$II$</td>
        <td>-natý</td>
      </tr>
      <tr>
        <td>$III$</td>
        <td>-itý</td>
      </tr>
      <tr>
        <td>$IV$</td>
        <td>-ičitý</td>
      </tr>
      <tr>
        <td>$V$</td>
        <td>-ičný, -ečný</td>
      </tr>
      <tr>
        <td>$VI$</td>
        <td>-ový</td>
      </tr>
      <tr>
        <td>$VII$</td>
        <td>-istý</td>
      </tr>
      <tr>
        <td>$VIII$</td>
        <td>-ičelý</td>
      </tr>
    </tbody>
  </table>
</div>