<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Změna tempa
                </th>
                <th>
    
    Česky
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">
    
    Náhlá změna
                </th>
            </tr>
            <tr>
                <td>
    
    doppio movimento
                </td>
                <td>
    
    dvojnásob rychle
                </td>
            </tr>
            <tr>
                <td>
    
    animato
                </td>
                <td>
    
    oživeněji
                </td>
            </tr>
            <tr>
                <td>
    
    meno
                </td>
                <td>
    
    méně (pomaleji)
                </td>
            </tr>
            <tr>
                <td>
    
    meno mosso, poco meno
                </td>
                <td>
    
    trochu zpomalit
                </td>
            </tr>
            <tr>
                <th colspan="2">
    
    Poszvolná změna
                </th>
            </tr>
            <tr>
                <td>
    
    accelerando
                </td>
                <td>
    
    náhle zrychlovat
                </td>
            </tr>
            <tr>
                <td>
    
    poco a poco animato
                </td>
                <td>
    
    více a více oživovat
                </td>
            </tr>
            <tr>
                <td>
    
    stringendo
                </td>
                <td>
    
    nnaléhavěji, zrchlovat
                </td>
            </tr>
            <tr>
                <td>
    
    rotardando
                </td>
                <td>
    
    zvolňovat
                </td>
            </tr>
            <tr>
                <td>
    
    ritenuto, rallentando
                </td>
                <td>
    
    postupně zpomalovat
                </td>
            </tr>
            <tr>
                <td>
    
    diminuendo
                </td>
                <td>
    
    zpomalovat a zeslabovat
                </td>
            </tr>
        </tbody>
        <caption>
    
    Označení tempové změny
        </caption>
    </table>
</div>