<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Skupina</th>
        <th>Oxidační číslo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>vodík (mimo iontové hydridy)</td>
        <td>$+I$</td>
      </tr>
      <tr>
        <td>kyslík (mimo peroxidy)</td>
        <td>$-II$</td>
      </tr>
      <tr>
        <td>fluor</td>
        <td>$-I$</td>
      </tr>
      <tr>
        <td>alkalické kovy</td>
        <td>$+I$</td>
      </tr>
      <tr>
        <td>kovy alkalických zemin</td>
        <td>$+II$</td>
      </tr>
      <tr>
        <td>zinek</td>
        <td>$+II$</td>
      </tr>
      <tr>
        <td>bor, hliník, lanthanoidy</td>
        <td>$+III$</td>
      </tr>
    </tbody>
  </table>
</div>