<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Značka
                </th>
                <th>
    
    Slovy
                </th>
                <th>
    
    Česky
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
    
    $ppp$
                </td>
                <td>
    
    piano pianissimo
                </td>
                <td>
    
    co nejslaběji
                </td>
            </tr>
            <tr>
                <td>
    
    $pp$
                </td>
                <td>
    
    pianissimo
                </td>
                <td>
    
    velmi slabě
                </td>
            </tr>
            <tr>
                <td>
    
    $p$
                </td>
                <td>
    
    piano
                </td>
                <td>
    
    slabě
                </td>
            </tr>
            <tr>
                <td>
    
    $mp$
                </td>
                <td>
    
    mezzopiano
                </td>
                <td>
    
    středně slabě
                </td>
            </tr>
            <tr>
                <td>
    
    $mf$
                </td>
                <td>
    
    mezzoforte
                </td>
                <td>
    
    středně silně
                </td>
            </tr>
            <tr>
                <td>
    
    $f$
                </td>
                <td>
    
    forte
                </td>
                <td>
    
    silně
                </td>
            </tr>
            <tr>
                <td>
    
    $ff$
                </td>
                <td>
    
    fortissimo
                </td>
                <td>
    
    velmi silně
                </td>
            </tr>
            <tr>
                <td>
    
    $fff$
                </td>
                <td>
    
    forte fortissimo
                </td>
                <td>
    
    co nejsilněji
                </td>
            </tr>
        </tbody>
        <caption>
    
    Dynamická označení
        </caption>
    </table>
</div>