<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Označení
                </th>
                <th>
    
    Česky
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
    
    addolorato
                </td>
                <td>
    
    bolestně, žalně
                </td>
            </tr>
            <tr>
                <td>
    
    affetuoso, con affeto
                </td>
                <td>
    
    s citem, náruživě
                </td>
            </tr>
            <tr>
                <td>
    
    agile
                </td>
                <td>
    
    hybně, živě
                </td>
            </tr>
            <tr>
                <td>
    
    agitato
                </td>
                <td>
    
    vzrušeně, bouřlivě, prudce
                </td>
            </tr>
            <tr>
                <td>
    
    alla marcia
                </td>
                <td>
    
    pochodem
                </td>
            </tr>
            <tr>
                <td>
    
    amabile
                </td>
                <td>
    
    mile, roztmile,něžně
                </td>
            </tr>
            <tr>
                <td>
    
    amoroso
                </td>
                <td>
    
    milostně, láskyplně, vroucně
                </td>
            </tr>
            <tr>
                <td>
    
    animato
                </td>
                <td>
    
    oživeně
                </td>
            </tr>
            <tr>
                <td>
    
    barbaro
                </td>
                <td>
    
    divoce, prudce
                </td>
            </tr>
            <tr>
                <td>
    
    brillante
                </td>
                <td>
    
    skvěle
                </td>
            </tr>
            <tr>
                <td>
    
    burlesco
                </td>
                <td>
    
    dovádivě, rozpustile
                </td>
            </tr>
            <tr>
                <td>
    
    calmo
                </td>
                <td>
    
    klidně
                </td>
            </tr>
            <tr>
                <td>
    
    cantabile
                </td>
                <td>
    
    zpěvně
                </td>
            </tr>
            <tr>
                <td>
    
    capriccioso
                </td>
                <td>
    
    rozmarně, vrtošivě
                </td>
            </tr>
            <tr>
                <td>
    
    comodo
                </td>
                <td>
    
    pohodlně
                </td>
            </tr>
            <tr>
                <td>
    
    con brion
                </td>
                <td>
    
    s jiskrou, jaře
                </td>
            </tr>
            <tr>
                <td>
    
    con calore
                </td>
                <td>
    
    vřele
                </td>
            </tr>
            <tr>
                <td>
    
    con desiderio
                </td>
                <td>
    
    toužebně
                </td>
            </tr>
            <tr>
                <td>
    
    con fuoco
                </td>
                <td>
    
    s ohněm, ohnivě
                </td>
            </tr>
            <tr>
                <td>
    
    con moto
                </td>
                <td>
    
    pohyblivě
                </td>
            </tr>
            <tr>
                <td>
    
    con sentimento
                </td>
                <td>
    
    s citem
                </td>
            </tr>
            <tr>
                <td>
    
    con spirito
                </td>
                <td>
    
    oduševněle
                </td>
            </tr>
            <tr>
                <td>
    
    con umore
                </td>
                <td>
    
    humorně
                </td>
            </tr>
            <tr>
                <td>
    
    dolce
                </td>
                <td>
    
    sladce
                </td>
            </tr>
            <tr>
                <td>
    
    dolente, con dolore
                </td>
                <td>
    
    žalostivě, se žalem
                </td>
            </tr>
            <tr>
                <td>
    
    doloroso
                </td>
                <td>
    
    bolestně
                </td>
            </tr>
            <tr>
                <td>
    
    energico
                </td>
                <td>
    
    energicky
                </td>
            </tr>
            <tr>
                <td>
    
    eroico
                </td>
                <td>
    
    hrdinsky, bohatýrsky
                </td>
            </tr>
            <tr>
                <td>
    
    erotico
                </td>
                <td>
    
    milostně
                </td>
            </tr>
            <tr>
                <td>
    
    espressivo
                </td>
                <td>
    
    výrazně
                </td>
            </tr>
            <tr>
                <td>
    
    feroce
                </td>
                <td>
    
    divoce, bouřlivě
                </td>
            </tr>
            <tr>
                <td>
    
    festivo
                </td>
                <td>
    
    slavnostně
                </td>
            </tr>
            <tr>
                <td>
    
    furioso
                </td>
                <td>
    
    zběsile, zuivě
                </td>
            </tr>
            <tr>
                <td>
    
    gaio
                </td>
                <td>
    
    vesele, radostně
                </td>
            </tr>
            <tr>
                <td>
    
    giocoso
                </td>
                <td>
    
    hravě, žertovně, vtipně
                </td>
            </tr>
            <tr>
                <td>
    
    giubiloso
                </td>
                <td>
    
    jásavě
                </td>
            </tr>
            <tr>
                <td>
    
    giusto
                </td>
                <td>
    
    správně, přiměřeně
                </td>
            </tr>
            <tr>
                <td>
    
    grandiosos
                </td>
                <td>
    
    velkolepě, nádherně
                </td>
            </tr>
            <tr>
                <td>
    
    grazioso
                </td>
                <td>
    
    půvabně
                </td>
            </tr>
            <tr>
                <td>
    
    innocente
                </td>
                <td>
    
    nevinně
                </td>
            </tr>
            <tr>
                <td>
    
    inquieto
                </td>
                <td>
    
    neklidně
                </td>
            </tr>
            <tr>
                <td>
    
    lacrimoso
                </td>
                <td>
    
    plačtivě, slzavě
                </td>
            </tr>
            <tr>
                <td>
    
    lamentoso
                </td>
                <td>
    
    naříkavě
                </td>
            </tr>
            <tr>
                <td>
    
    leggiero
                </td>
                <td>
    
    lehce, hravě, perlivě
                </td>
            </tr>
            <tr>
                <td>
    
    lugubre
                </td>
                <td>
    
    rozboleně, truchlivě
                </td>
            </tr>
            <tr>
                <td>
    
    maestoso
                </td>
                <td>
    
    velebně
                </td>
            </tr>
            <tr>
                <td>
    
    malincolico, malinconico
                </td>
                <td>
    
    zádumčivě, těžkomyslně
                </td>
            </tr>
            <tr>
                <td>
    
    mesto
                </td>
                <td>
    
    smutně, zarmouceně
                </td>
            </tr>
            <tr>
                <td>
    
    misterioso
                </td>
                <td>
    
    tajemně
                </td>
            </tr>
            <tr>
                <td>
    
    morendo
                </td>
                <td>
    
    zmíravě
                </td>
            </tr>
            <tr>
                <td>
    
    nobile
                </td>
                <td>
    
    ušlechtile
                </td>
            </tr>
            <tr>
                <td>
    
    parlando
                </td>
                <td>
    
    mluveně, na způsob mluvy
                </td>
            </tr>
            <tr>
                <td>
    
    patetico
                </td>
                <td>
    
    povzneseně, pateticky
                </td>
            </tr>
            <tr>
                <td>
    
    pesante
                </td>
                <td>
    
    závažně, těžce
                </td>
            </tr>
            <tr>
                <td>
    
    religioso
                </td>
                <td>
    
    zbožně
                </td>
            </tr>
            <tr>
                <td>
    
    risoluto
                </td>
                <td>
    
    rozhodně, rázně
                </td>
            </tr>
            <tr>
                <td>
    
    ritmico
                </td>
                <td>
    
    se správnými přízvuky
                </td>
            </tr>
            <tr>
                <td>
    
    semplice
                </td>
                <td>
    
    prostě, jednoduše
                </td>
            </tr>
            <tr>
                <td>
    
    serioso
                </td>
                <td>
    
    vážně
                </td>
            </tr>
            <tr>
                <td>
    
    scherzando
                </td>
                <td>
    
    žertovně
                </td>
            </tr>
            <tr>
                <td>
    
    sonoro, sonoramente
                </td>
                <td>
    
    zvučně
                </td>
            </tr>
            <tr>
                <td>
    
    sospirando
                </td>
                <td>
    
    vzdychavě
                </td>
            </tr>
            <tr>
                <td>
    
    sostenuto
                </td>
                <td>
    
    zdrženlivě
                </td>
            </tr>
            <tr>
                <td>
    
    tempestoso
                </td>
                <td>
    
    bouřlivě
                </td>
            </tr>
            <tr>
                <td>
    
    teneramente
                </td>
                <td>
    
    něžně
                </td>
            </tr>
            <tr>
                <td>
    
    tranquillo, quieto
                </td>
                <td>
    
    klidně, pokojně
                </td>
            </tr>
            <tr>
                <td>
    
    triste
                </td>
                <td>
    
    smutně
                </td>
            </tr>
        <tbody>
        <caption>
    
    Označení nálady a výrazu přednesu
        </caption>
    </table>
</div>