<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Prefix</th>
        <th>Číslovka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mono-</td>
        <td>1</td>
      </tr>
      <tr>
        <td>di-</td>
        <td>2</td>
      </tr>
      <tr>
        <td>tri-</td>
        <td>3</td>
      </tr>
      <tr>
        <td>tetra-</td>
        <td>4</td>
      </tr>
      <tr>
        <td>penta-</td>
        <td>5</td>
      </tr>
      <tr>
        <td>hexa-</td>
        <td>6</td>
      </tr>
      <tr>
        <td>hepta-</td>
        <td>7</td>
      </tr>
      <tr>
        <td>okta-</td>
        <td>8</td>
      </tr>
      <tr>
        <td>nona-</td>
        <td>9</td>
      </tr>
      <tr>
        <td>deka-</td>
        <td>10</td>
      </tr>
      <tr>
        <td>undeka-</td>
        <td>11</td>
      </tr>
      <tr>
        <td>dodeka-</td>
        <td>12</td>
      </tr>
      <tr>
        <td>trideka-</td>
        <td>13</td>
      </tr>
      <tr>
        <td>tetradeka-</td>
        <td>14</td>
      </tr>
      <tr>
        <td>pentadeka-</td>
        <td>15</td>
      </tr>
      <tr>
        <td>hexadeka-</td>
        <td>16</td>
      </tr>
      <tr>
        <td>ikosa-</td>
        <td>20</td>
      </tr>
      <tr>
        <td>heneikosa-</td>
        <td>21</td>
      </tr>
      <tr>
        <td>dokosa-</td>
        <td>22</td>
      </tr>
      <tr>
        <td>trikosa-</td>
        <td>23</td>
      </tr>
      <tr>
        <td>nonakosa-</td>
        <td>29</td>
      </tr>
      <tr>
        <td>triakonta-</td>
        <td>30</td>
      </tr>
      <tr>
        <td>tetrakonta-</td>
        <td>40</td>
      </tr>
      <tr>
        <td>pentakonta-</td>
        <td>50</td>
      </tr>
      <tr>
        <td>hekta-</td>
        <td>100</td>
      </tr>
      <tr>
        <td>hemi-</td>
        <td>1/2</td>
      </tr>
      <tr>
        <td>seskvi-</td>
        <td>3/2</td>
      </tr>
    </tbody>
  </table>
</div>