<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    mīles
                </td>
                <td class="it">
    
    mīlit-ēs
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    mīlit-is
                </td>
                <td class="it">
    
    mīlit-um
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    mīlit-ī
                </td>
                <td class="it">
    
    mīlit-ibus
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    mīlit-em
                </td>
                <td class="it">
    
    mīlit-ēs
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    mīles
                </td>
                <td class="it">
    
    mīlit-ēs
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    mīlit-e
                </td>
                <td class="it">
    
    mīlit-ibus
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru milites
        </caption>
    </table>
</div>