<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    fēmin-a
                </td>
                <td class="it">
    
    fēmin-ae
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    fēmin-ae
                </td>
                <td class="it">
    
    fēmin-ārum
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    fēmin-ae
                </td>
                <td class="it">
    
    fēmin-īs
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    fēmin-am
                </td>
                <td class="it">
    
    fēmin-ās
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    fēmin-a
                </td>
                <td class="it">
    
    fēmin-ae
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    fēmin-ā
                </td>
                <td class="it">
    
    fēmin-īs
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru _fēmina_
        </caption>
    </table>
</div>