<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    ager
                </td>
                <td class="it">
    
    agr-ī
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    agr-ī
                </td>
                <td class="it">
    
    agr-ōrum
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    agr-ō
                </td>
                <td class="it">
    
    agr-īs
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    agr-um
                </td>
                <td class="it">
    
    agr-ōs
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    ager
                </td>
                <td class="it">
    
    agr-ī
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    agr-ō
                </td>
                <td class="it">
    
    agr-īs
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru ager
        </caption>
    </table> 
</div>