<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    puer
                </td>
                <td class="it">
    
    puer-ī
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    puer-ī
                </td>
                <td class="it">
    
    puer-ōrum
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    puer-ō
                </td>
                <td class="it">
    
    puer-īs
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    puer-um
                </td>
                <td class="it">
    
    puer-ōs
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    puer
                </td>
                <td class="it">
    
    puer-ī
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    puer-ō
                </td>
                <td class="it">
    
    puer-īs
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru puer
        </caption>
    </table>
</div>