<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    mare
                </td>
                <td class="it">
    
    mar-ia
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    mar-is
                </td>
                <td class="it">
    
    mar-ium
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    mar-ī
                </td>
                <td class="it">
    
    mar-ibus
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    mare
                </td>
                <td class="it">
    
    mar-ia
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    mare
                </td>
                <td class="it">
    
    mar-ia
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    mar-ī
                </td>
                <td class="it">
    
    mar-ibus
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru mare
        </caption>
    </table>
</div>