<div class="table-container">
    <table class="note-table">
        <thead>
            <tr class="center">
                <th>Deklinace</th>
                <th>
    
    1
                </th>
                <th>
    
    2
                </th>
                <th>
    
    3
                </th>
                <th>
    
    4
                </th>
                <th>
    
    5
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    -a
                </td>
                <td class="it">
    
    -us, -er; -um
                </td>
                <td>
    
    různé
                </td>
                <td class="it">
    
    -us; -ū
                </td>
                <td class="it">
    
    -ēs
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    -ae
                </td>
                <td class="it">
    
    -ī
                </td>
                <td class="it">
    
    -is
                </td>
                <td class="it">
    
    -ūs
                </td>
                <td class="it">
    
    -ēī, (-eī)
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    -ae
                </td>
                <td class="it">
    
    -ō
                </td>
                <td class="it">
    
    -ī
                </td>
                <td class="it">
    
    -uī; -ū
                </td>
                <td class="it">
    
    -ēī, (-eī)
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    -am
                </td>
                <td class="it">
    
    -um
                </td>
                <td class="it">
    
    -em, (-im)
                </td>
                <td class="it">
    
    -um; -ū
                </td>
                <td class="it">
    
    -em
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    -a
                </td>
                <td class="it">
    
    -e, -er; -um
                </td>
                <td>
    
    různé (jako nom.)
                </td>
                <td class="it">
    
    -us; -ū
                </td>
                <td class="it">
    
    -ēs
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    -ā
                </td>
                <td class="it">
    
    -ō
                </td>
                <td class="it">
    
    -e, (-ī)
                </td>
                <td class="it">
    
    -ū
                </td>
                <td class="it">
    
    -ē
                </td>
            </tr>
        </tbody>
        <caption>
    
    Přehled singulárních koncovek latinských deklinací
        </caption>
    </table>
</div>