<div class="table-container">
    <table class="note-table">
        <thead>
            <tr class="center">
                <th>Deklinace</th>
                <th>
    
    1
                </th>
                <th>
    
    2
                </th>
                <th>
    
    3
                </th>
                <th>
    
    4
                </th>
                <th>
    
    5
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    -ae
                </td>
                <td class="it">
    
    -ī; -a
                </td>
                <td class="it">
    
    -ēs; -a, (-ia)
                </td>
                <td class="it">
    
    -ūs; -ua
                </td>
                <td class="it">
    
    -ēs
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    -ārum
                </td>
                <td class="it">
    
    -ōrum
                </td>
                <td class="it">
    
    -um, (-ium)
                </td>
                <td class="it">
    
    -uum
                </td>
                <td class="it">
    
    -ērum
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    -īs
                </td>
                <td class="it">
    
    -īs
                </td>
                <td class="it">
    
    -ibus
                </td>
                <td class="it">
    
    -ibus, (-ubus)
                </td>
                <td class="it">
    
    -ēbus
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    -ās
                </td>
                <td class="it">
    
    -ōs; -a
                </td>
                <td class="it">
    
    -ēs, (-īs); -a, (-ia)
                </td>
                <td class="it">
    
    -ūs; -ua
                </td>
                <td class="it">
    
    -ēs
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    -ae
                </td>
                <td class="it">
    
    -ī; -a
                </td>
                <td class="it">
    
    -ēs; -a, (-ia)
                </td>
                <td class="it">
    
    -ūs; -ua
                </td>
                <td class="it">
    
    -ēs
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    -īs
                </td>
                <td class="it">
    
    -īs
                </td>
                <td class="it">
    
    -ibus
                </td>
                <td class="it">
    
    -ibus, (-ubus)
                </td>
                <td class="it">
    
    -ēbus
                </td>
            </tr>
        </tbody>
        <caption>
    
    Přehled plurálních koncovek latinských deklinací
        </caption>
    </table>
</div>