<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    carmen
                </td>
                <td class="it">
    
    carmin-a
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    carmin-is
                </td>
                <td class="it">
    
    carmin-um
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    carmin-ī
                </td>
                <td class="it">
    
    carmin-ibus
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    carmen
                </td>
                <td class="it">
    
    carmin-a
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    carmen
                </td>
                <td class="it">
    
    carmin-a
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    carmin-e
                </td>
                <td class="it">
    
    carmin-ibus
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru carmen
        </caption>
    </table>
</div>