<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Pád
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    nom.
                </th>
                <td class="it">
    
    cīv-is
                </td>
                <td class="it">
    
    cīv-ēs
                </td>
            </tr>
            <tr>
                <th>
    
    gen.
                </th>
                <td class="it">
    
    cīv-is
                </td>
                <td class="it">
    
    cīv-ium
                </td>
            </tr>
            <tr>
                <th>
    
    dat.
                </th>
                <td class="it">
    
    cīv-ī
                </td>
                <td class="it">
    
    cīv-ibus
                </td>
            </tr>
            <tr>
                <th>
    
    akuz.
                </th>
                <td class="it">
    
    cīv-em
                </td>
                <td class="it">
    
    cīv-ēs
                </td>
            </tr>
            <tr>
                <th>
    
    vok.
                </th>
                <td class="it">
    
    cīv-is
                </td>
                <td class="it">
    
    cīv-ēs
                </td>
            </tr>
            <tr>
                <th>
    
    abl.
                </th>
                <td class="it">
    
    cīv-e
                </td>
                <td class="it">
    
    cīv-ibus
                </td>
            </tr>
        </tbody>
        <caption>
    
    Deklinace vzoru civis
        </caption>
    </table>
</div>