<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th>
    
    Nukleotid
                </th>
                <th>
    
    U
                </th>
                <th>
    
    C
                </th>
                <th>
    
    A
                </th>
                <th>
    
    G
                </th>
                <th>
    
    Nukleotid
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="4">
    
    U
                </th>
                <td>
    
    UUU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#fenylalanin-phe">Phe</a>
                </td>
                <td>
    
    UCU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#serin-ser">Ser</a>
                </td>
                <td>
    
    UAU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#tyrosin-tyr">Tyr</a>
                </td>
                <td>
    
    UGU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#cystein-cys">Cys</a>
                </td>
                <th>
    
    U
                </th>
            </tr>
            <tr>
                <td>
    
    UUC Phe
                </td>
                <td>
    
    UCC Ser
                </td>
                <td>
    
    UAC Tyr
                </td>
                <td>
    
    UGC Cys
                </td>
                <th>
    
    C
                </th>
            </tr>
            <tr>
                <td>
    
    UUA <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#leucin-leu">Leu</a>
                </td>
                <td>
    
    UCA Ser
                </td>
                <td>
    
    UAA STOP!
                </td>
                <td>
    
    UGA STOP!
                </td>
                <th>
    
    A
                </th>
            </tr>
            <tr>
                <td>
    
    UUG Leu
                </td>
                <td>
    
    UCG Ser
                </td>
                <td>
    
    UAG Stop!
                </td>
                <td>
    
    UGC <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#tryprofan-trp">Trp</a>
                </td>
                <th>
    
    G
                </th>
            </tr>
            <tr>
                <th rowspan="4">
    
    C
                </th>
                <td>
    
    CUU Leu
                </td>
                <td>
    
    CCU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#profin-pro">Pro</a>
                </td>
                <td>
    
    CAU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#histidin-his">His</a>
                </td>
                <td>
    
    CGU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#arginin-arg">Arg</a>
                </td>
                <th>
    
    U
                </th>
            </tr>
            <tr>
                <td>
    
    CUC Leu
                </td>
                <td>
    
    CCC Pro
                </td>
                <td>
    
    CAC His
                </td>
                <td>
    
    CGC Arg
                </td>
                <th>
    
    C
                </th>
            </tr>
            <tr>
                <td>
    
    CUA Leu
                </td>
                <td>
    
    CCA Pro
                </td>
                <td>
    
    CAA <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#glutamin-glu">Gln</a>
                </td>
                <td>
    
    CGA Arg
                </td>
                <th>
    
    A
                </th>
            </tr>
            <tr>
                <td>
    
    CUG Leu
                </td>
                <td>
    
    CCG Pro
                </td>
                <td>
    
    CAG Gln
                </td>
                <td>
    
    CGG Arg
                </td>
                <th>
    
    G
                </th>
            </tr>
            <tr>
                <th rowspan="4">
    
    A
                </th>
                <td>
    
    AUU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#isoleucin-ile">Ile</a>
                </td>
                <td>
    
    ACU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#thereonin-thr">Thr</a>
                </td>
                <td>
    
    AAU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#aspargin-asn">Asn</a>
                </td>
                <td>
    
    AGU Ser
                </td>
                <th>
    
    U
                </th>
            </tr>
            <tr>
                <td>
    
    AUC Ile
                </td>
                <td>
    
    ACC Thr
                </td>
                <td>
    
    AAC Asn
                </td>
                <td>
    
    AGC Ser
                </td>
                <th>
    
    C
                </th>
            </tr>
            <tr>
                <td>
    
    AUA Ile
                </td>
                <td>
    
    ACA Thr
                </td>
                <td>
    
    AAA <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#lysin-lys">Lys</a>
                </td>
                <td>
    
    AGA Arg
                </td>
                <th>
    
    A
                </th>
            </tr>
            <tr>
                <td>
    
    AUG <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#methionin-met">Met</a> START!
                </td>
                <td>
    
    ACH Thr
                </td>
                <td>
    
    AAG Lys
                </td>
                <td>
    
    AGG Arg
                </td>
                <th>
    
    G
                </th>
            </tr>
            <tr>
                <th rowspan="4">
    
    G
                </th>
                <td>
    
    GUU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#valin-val">Val</a>
                </td>
                <td>
    
    GCU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#alanin-ala">Ala</a>
                </td>
                <td>
    
    GAU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#aspargová-kyselina-asp">Asp</a>
                </td>
                <td>
    
    GGU <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#glycin-gly">Gly</a>
                </td>
                <th>
    
    U
                </th>
            </tr>
            <tr>
                <td>
    
    GUC Val
                </td>
                <td>
    
    GCC Ala
                </td>
                <td>
    
    GAC Asp
                </td>
                <td>
    
    GGC Gly
                </td>
                <th>
    
    C
                </th>
            </tr>
            <tr>
                <td>
    
    GUA Val
                </td>
                <td>
    
    GCA Ala
                </td>
                <td>
    
    GAA <a href="/notes/research/chemistry/organic-chemistry/carbohydrate-derivatives/substitute-derivatives-of-carboxylic-acids#glutamová-kyselina-glu">Glu</a>
                </td>
                <td>
    
    GGA Gly
                </td>
                <th>
    
    A
                </th>
            </tr>
            <tr>
                <td>
    
    GUG Val
                </td>
                <td>
    
    GCG Ala
                </td>
                <td>
    
    GAG Glu
                </td>
                <td>
    
    GGG Gly
                </td>
                <th>
    
    G
                </th>
            </tr>
        </tbody>
        <caption>
    
    Kódy aminokyselin
        </caption>
    </table>
</div>