<table class="note-table">
    <thead>
        <tr>
            <th>

Čas
            </th>
            <th>

Rod činný
            </th>
            <th>

Příklad
            </th>
            <th>

Rod trpný
            </th>
            <th>

Příklad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>

Infinitiv
            </th>
            <td class="it">

(to) do, clean, see
            </td>
            <td class="it">

Somebody will clean this room later.
            </td>
            <td class="it">

(to) be done, cleaned, seen
            </td>
            <td class="it">

This room will be cleaned later.
            </td>
        </tr>
        <tr>
            <th>

Participium minulé v infinitivu
            </th>
            <td class="it">

(to) have done, cleaned, seen
            </td>
            <td class="it">

Somebody should have cleaned this room.
            </td>
            <td class="it">

(to) have been done, cleaned, seen
            </td>
            <td class="it">

The room should have been cleaned
            </td>
        </tr>
        <tr>
            <th>

Předpřítomný
            </th>
            <td class="it">

have/has done, cleaned, seen
            </td>
            <td class="it">

The room looks nice. Somebody has cleaned it.
            </td>
            <td class="it">

have/has been done, cleaned, seen
            </td>
            <td class="it">

The room looks nice. It has been cleaned.
            </td>
        </tr>
        <tr>
            <th>

Předminulý
            </th>
            <td class="it">

had done, cleaned, seen
            </td>
            <td class="it">

The room looked nice. Somebody had cleaned it.
            </td>
            <td class="it">

had been done, cleaned, seen
            </td>
            <td class="it">

The room looked nice. It had been cleaned.
            </td>
        </tr>
        <tr>
            <th>

Přítomný průběhový
            </th>
            <td class="it">

be doing, cleaning, seeing
            </td>
            <td class="it">

Somebody is cleaning the room at the moment.
            </td>
            <td class="it">

be being done, cleaned, seen
            </td>
            <td class="it">

The room is being cleaned at the moment.
            </td>
        </tr>
        <tr>
            <th>

Minulý průběhový
            </th>
            <td class="it">

was/were doing, cleaning, seeing
            </td>
            <td class="it">

Somebody was cleaning the room when I arrived.
            </td>
            <td class="it">

was/were being done, cleaned, seen
            </td>
            <td class="it">

The room was being cleaned when I arrived.
            </td>
        </tr>
    </tbody>
    <caption>

Struktura činného a trpného rodu v různých časech s příklady
    </caption>
</table>