<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Umístění v tabulce</th>
        <th>Speciální název</th>
        <th>Prvky</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>skupina I.A</td>
        <td>alkalické kovy</td>
        <td>$Li, Na, K, Rb, Cs, Fr$</td>
      </tr>
      <tr>
        <td>skupina II.A</td>
        <td>kovy alkalických zemin</td>
        <td>$Ca, Sr, Ba, Ra$</td>
      </tr>
      <tr>
        <td>skupina III.A</td>
        <td>triely</td>
        <td>$B, Al, Ga, In, Tl$</td>
      </tr>
      <tr>
        <td>skupina IV.A</td>
        <td>tetrely</td>
        <td>$C, Si, Ge, Sn, Pb$</td>
      </tr>
      <tr>
        <td>skupina V.A</td>
        <td>pentely</td>
        <td>$N, P, As, Sb, Bi$</td>
      </tr>
      <tr>
        <td>skupina VI.A</td>
        <td>chalkogeny</td>
        <td>$O, S, Se, Te, Po$</td>
      </tr>
      <tr>
        <td>skupina VII.A</td>
        <td>halogeny</td>
        <td>$F, Cl, Br, I, At$</td>
      </tr>
      <tr>
        <td>skupina VIII.A</td>
        <td>vzácné plyny</td>
        <td>$He, Ne, Ar, Kr, Xe, Rn$</td>
      </tr>
      <tr>
        <td>6. perioda</td>
        <td>lanthanoidy</td>
        <td>prvky s protonovým číslem 58 &ndash; 71</td>
      </tr>
      <tr>
        <td rowspan="2">7. perioda</td>
        <td>aktinoidy</td>
        <td>prvky s protonovým číslem 90 &ndash; 103</td>
      </tr>
      <tr>
        <td>transurany</td>
        <td>prvky s protonovým číslem 93 a více</td>
      </tr>
      <tr>
        <td rowspan="3">VIII.B</td>
        <td>triáda železa</td>
        <td>$Fe, Co, Ni$</td>
      </tr>
      <tr>
        <td>lehké platinové kovy</td>
        <td>$RU, Rh, Pd$</td>
      </tr>
      <tr>
        <td>těžké platinové kovy</td>
        <td>$Os, Ir, Pt$</td>
      </tr>
    </tbody>
  </table>
</div>