<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th rowspan="5" colspan="2">
    
    Podle místa tvoření
                </th>
                <th colspan="9">
    
    Podle způsobu tvoření
                </th>
            </tr>
            <tr>
                <th colspan="3">
    
    
    Závěrové (okulzivy)
                </th>
                <th colspan="6">
    
    Úžinové (konstriktivy)
                </th>
            </tr>
            <tr>
                <th rowspan="3">
    
    Znělé
                </th>
                <th rowspan="3">
    
    Neznělé
                </th>
                <th rowspan="3">
    
    Aspirované
                </th>
                <th colspan="3">
    
    Sonory
                </th>
                <th rowspan="3">
    
    Klouzavé (glidy)
                </th>
                <th colspan="2">
    
    Spiranty
                </th>
            </tr>
            <tr>
                <th rowspan="2">
    
    Nosovky (nasály)
                </th>
                <th colspan="2">
    
    Plynné (likvidy)
                </th>
                <th rowspan="2">
    
    Znělé
                </th>
                <th rowspan="2">
    
    Neznělé
                </th>
            </tr>
            <tr>
                <th>
    
    Bokové (laterály)
                </th>
                <th>
    
    Kmitavé (vibranty)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="2">
    
    Retné (labiály)
                </th>
                <th>
    
    Obouretné (bilabiály)
                </th>
                <td>
    
    $[b]$
                </td>
                <td>
    
    $[p]$
                </td>
                <td>
    
    $[ph]$
                </td>
                <td>
    
    $[m]$
                </td>
                <td></td>
                <td></td>
                <td>
    
    $[w]$
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>
    
    Retozubné (labiodentály)
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
    
    $[f]$
                </td>
            </tr>
            <tr>
                <th colspan="2">
    
    Dásňové (alveoláry)
                </th>
                <td>
    
    $[d]$
                </td>
                <td></td>
                <td></td>
                <td>
    
    $[n]$
                </td>
                <td>
    
    $[l]$
                </td>
                <td>
    
    $[r]$
                </td>
                <td></td>
                <td>
    
    $[z]$
                </td>
                <td>
    
    $[s]$
                </td>
            </tr>
            <th colspan="2">
    
    Zubné (dentály)
                </th>
                <td></td>
                <td>
    
    $[t]$
                </td>
                <td>
    
    $[th]$
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <th colspan="2">
    
    Předopatrové (platály)
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
    
    $[j]$
                </td>
                <td></td>
                <td></td>
            </tr>
            <th colspan="2">
    
    Labioveláry
                </th>
                <td>
    
    $[k^w]$
                </td>
                <td>
    
    $[g^w]$
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <th colspan="2">
    
    Zadopatrové (veláry)
                </th>
                <td>
    
    $[g]$
                </td>
                <td>
    
    $[k]$
                </td>
                <td>
    
    $[kh]$
                </td>
                <td>
    
    $[\eta]$
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <th colspan="2">
    
    Hrdelné (laryngály)
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
    
    $[h]$
                </td>
                <td></td>
            </tr>
        </tbody>
        <caption>
    
    Systém latinských konsonantů
        </caption>
    </table>
</div>