<div class="table-container">
    <table class="note-table center">
        <thead>
            <tr>
                <th rowspan="3">
                
    Podle stupně otevřenosti
                </th>
                <th colspan="6">
    
    Podle místa tvoření
                </th>
            </tr>
            <tr>
                <th colspan="2">
    
    Přední
                </th>
                <th colspan="2">
    
    Střední
                </th>
                <th colspan="2">
    
    Zadní
                </th>
            </tr>
            <tr>
                <th>
    
    Krátké
                </th>
                <th>
    
    Dlouhé
                </th>
                <th>
    
    Krátké
                </th>
                <th>
    
    Dlouhé
                </th>
                <th>
    
    Krátké
                </th>
                <th>
    
    Dlouhé
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
    
    Zavřené
                </th>
                <td>
    
    $[i]$
                </td>
                <td>
    
    $[i:]$
                </td>
                <td>
    
    $[y]$
                </td>
                <td>
    
    $[y:]$
                </td>
                <td>
    
    $[u]$
                </td>
                <td>
    
    $[u:]$
                </td>
            </tr>
            <tr>
                <th>
    
    Středové
                </th>
                <td>
    
    $[e]$
                </td>
                <td>
    
    $[e:]$
                </td>
                <td></td>
                <td></td>
                <td>
    
    $[o]$
                </td>
                <td>
    
    $[o:]$
                </td>
            </tr>
            <tr>
                <th>
    
    Otevřené
                </th>
                <td></td>
                <td></td>
                <td>
    
    $[a]$
                </td>
                <td>
    
    $[a:]$
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <caption>
    
    Systém latinských vokálů
        </caption>
    </table>
</div>