<div class="table-container">
  <table class="note-table">
    <thead>
      <tr>
        <th>Vzorec monomeru</th>
        <th>Název monomeru</th>
        <th>Vzorec polymeru</th>
        <th>Název polymeru</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2F7W9OkSGYO.png?alt=media&token=b37cdf54-7763-4c4e-97f8-65c68e7c44c8"></td>
        <td>ethen</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2F8746NoP99J.png?alt=media&token=3bcedb31-986a-47ce-a7c0-e216ebb740a0"></td>
        <td>polyethen (PE)</td>
      </tr>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FmSGerFwcf.png?alt=media&token=7bc202c2-da5d-4586-9183-feb44991e9a9"></td>
        <td>styren</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FsNC3SG-Vdz.png?alt=media&token=eff275a3-2945-441f-ad78-2a16435a42fe"></td>
        <td>polystyren</td>
      </tr>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2F4x2Jc4MgwP.png?alt=media&token=ffea9348-eb34-4eff-a3db-e40fa65da576"></td>
        <td>chlorethen, vinylchlorid</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FVQBHJGQlRa.png?alt=media&token=807224dd-d54d-4a24-92a5-3f7b68423e4b"></td>
        <td>polyvinylchlorid (PVC), igelit, novodur</td>
      </tr>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FIGLAbt7bVR.png?alt=media&token=f033dfa1-2cbf-4af7-95e0-110ed51ecad2"></td>
        <td>tetrafluorethen</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FZCPR5rpoeT.png?alt=media&token=934abb91-13ca-45c0-bf77-16f649d03290"></td>
        <td>polytetrafluorethen, teflon</td>
      </tr>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FzvYrnTQhnV.png?alt=media&token=2c80d9db-62da-41ef-9107-46a744612bfc"></td>
        <td>buta-1,3-dien</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FQFpWzcu5BF.png?alt=media&token=82240aa3-de7e-40a7-9ba5-ef9a02c8a0f2"></td>
        <td>buna</td>
      </tr>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2F-euyzeb8uA.png?alt=media&token=3da00e01-d1cb-4223-9c12-325820ef5bde"></td>
        <td>isopren</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FeptpGVn0Xf.png?alt=media&token=3fcdc974-fe8f-48be-a714-181dbd39c1fe"></td>
        <td>kaučuk</td>
      </tr>
      <tr>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FucwqrB3X21.png?alt=media&token=7ea93804-44c8-475f-8554-453810d5bae0"></td>
        <td>chloropren</td>
        <td><img src="https://firebasestorage.googleapis.com/v0/b/firescript-577a2.appspot.com/o/imgs%2Fapp%2FPetrGersl%2FacMYWyupPl.png?alt=media&token=6e79e09e-2cdf-4ce1-95a0-fc6978a3ebeb"></td>
        <td>neopren</td>
      </tr>
    </tbody>
  </table>
</div>