<table class="note-table">
    <thead>
        <tr>
            <th>

Zájmeno osobní
            </th>
            <th>

Determinátor přivlastňovací
            </th>
            <th>

Zájmeno přivlastňovací
            </th>
        </tr>
    </thead>
    <tbody class="it">
        <tr>
            <td>

I
            </td>
            <td>

my
            </td>
            <td>

mine
            </td>
        </tr>
        <tr>
            <td>

you (sg. i pl.)
            </td>
            <td>

your
            </td>
            <td>

yours
            </td>
        </tr>
        <tr>
            <td>

he
            </td>
            <td>

his
            </td>
            <td>

his
            </td>
        </tr>
        <tr>
            <td>

she
            </td>
            <td>

her
            </td>
            <td>

hers
            </td>
        </tr>
        <tr>
            <td>

it
            </td>
            <td>

its
            </td>
            <td>

its
            </td>
        </tr>
        <tr>
            <td>

we
            </td>
            <td>

our
            </td>
            <td>

ours
            </td>
        </tr>
        <tr>
            <td>

they
            </td>
            <td>

their
            </td>
            <td>

theirs
            </td>
        </tr>
        <tr>
            <td>

one
            </td>
            <td>

one's
            </td>
            <td>

one's
            </td>
        </tr>
    </tbody>
    <caption>

Přehled zájmen osobních, přivlastňovacách a příslušných determinátorů
    </caption>
</table>