<table class="note-table">
    <thead>
        <tr>
            <th>

Disperzní soustava
            </th>
            <th>

Disperzní prostředí
            </th>
            <th>

Disperzní podíl
            </th>
            <th>

Příklad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="2">

aerosol
            </th>
            <td rowspan="2">

plyn
            </td>
            <td>

kapalina
            </td>
            <td>

mlha
            </td>
        </tr>
        <tr>
            <td>

pevná látka
            </td>
            <td>

prach, dým
            </td>
        </tr>
        <tr>
            <th>

pěna
            </th>
            <td>

kapalina
            </td>
            <td>

plyn
            </td>
            <td>

mýdlová pěna
            </td>
        </tr>
        <tr>
            <th rowspan="3">

pravý roztok
            </td>
            <td>

plyn
            </td>
            <td>

plyn
            </td>
            <td>

vzduch
            </td>
        </tr>
        <tr>
            <td>

kapalina
            </td>
            <td>

jakékoli skupenství
            </td>
            <td>

roztok soli
            </td>
        </tr>
        <tr>
            <td>

pevná látka
            </td>
            <td>

pevná látka
            </td>
            <td>

slitina
            </td>
        </tr>
        <tr>
            <th>

koloidní roztok (lyosol)
            </th>
            <td>

kapalina
            </td>
            <td>

pevná látka
            </td>
            <td>

roztoky makromolekulárních
            </td>
        </tr>
        <tr>
            <th>

emulze
            </th>
            <td>

kapalina
            </td>
            <td>

kapalina
            </td>
            <td>

olej a voda
            </td>
        </tr>
        <tr>
            <th>

gel
            </th>
            <td>

pevná látka
            </td>
            <td>

kapalina
            </td>
            <td>

rosol
            </td>
        </tr>
        <tr>
            <th>

suspenze
            </th>
            <td>

kapalina
            </td>
            <td>

pevá látka
            </td>
            <td>

krev
            </td>
        </tr>
        <tr>
            <th>

inkluze
            </th>
            <td>

pevná látka
            </td>
            <td>

plyn
            </th>
            <td>

polystyren
            </td>
        </tr>
    </tbody>
    <caption>

Klasifikace disperzních soustav podle skupenství disperzního podílu a disperzního prostředí
    </caption>
</table>