<table class="note-table">
    <thead>
        <tr>
            <th>

Positiv
            </th>
            <th>

Superlativ
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="it">

good/well
            </td>
            <td class="it">

best
            </td>
        </tr>
        <tr>
            <td class="it">

bad/badly
            </td>
            <td class="it">

worst
            </td>
        </tr>
        <tr>
            <td class="it">

far
            </td>
            <td class="it">

farthest/furthest
            </td>
        </tr>
    </tbody>
    <caption>

Nepravidelné tvary superlativů
    </caption>
</table>