<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th class="center">
    
    Persona
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
    
    1
                </td>
                <td class="it">
    
    dēl-e-o-r
                </td>
                <td class="it">
    
    dēl-ē-mur
                </td>
            </tr>
            <tr>
                <td class="center">
    
    2
                </td>
                <td class="it">
    
    dēl-ē-ris
                </td>
                <td class="it">
    
    dēl-ē-minī
                </td>
            </tr>
            <tr>
                <td class="center">
    
    3
                </td>
                <td class="it">
    
    dēl-ē-tur
                </td>
                <td class="it">
    
    dēl-e-ntur
                </td>  
            </tr>
        </tbody>
        <caption>
    
    Konjugace indikativu prézentu pasiva 2. slovesné třídy
        </caption>
    </table>
</div>