<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th class="center">
    
    Konjugace
                </th>
                <th>
    
    prézentní kmen
                </th>
                <th>
    
    ind. préz. akt.
                </th>
                <th>
    
    inf. préz. akt.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
    
    1
                </td>
                <td class="it">
    
    lad-ā-
                </td>
                <td class="it">
    
    laud-ō
                </td>
                <td class="it">
    
    laud-ā-re
                </td>
            </tr>
            <tr>
                <td class="center">
    
    2
                </td>
                <td class="it">
    
    dēl-ē-
                </td>
                <td class="it">
    
    dēle-ō
                </td>
                <td class="it">
    
    dēl-ē-re
                </td>
            </tr>
            <tr>
                <td class="center">
    
    3
                </td>
                <td class="it">
    
    leg-
                </td>
                <td class="it">
    
    leg-ō
                </td>
                <td class="it">
    
    leg-ere
                </td>
            </tr>
            <tr>
                <td class="center">
    
    4
                </td>
                <td class="it">
    
    aud-ī-
                </td>
                <td class="it">
    
    audi-ō
                </td>
                <td class="it">
    
    aud-ī-re
                </td>
            </tr>
        </tbody>
        <caption>
    
    Přehled latinských konjugací
        </caption>
    </table>
</div>