<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th rowspan="2">
    
    Rod
                </th>
                <th colspan ="3">
    
    sg.
                </th>
                <th colspan="3">
    
    pl
                </th>
            </tr>
            <tr>
                <th>
    
    1.os.
                </th>
                <th>
    
    2.os.
                </th>
                <th>
    
    3.os.
                </th>
                <th>
    
    1.os.
                </th>
                <th>
    
    2.os.
                </th>
                <th>
    
    3.os.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bf">
    
    akt.
                </td>
                <td class="it">
    
    -ō/-m
                </td>
                <td class="it">
    
    -s
                </td>
                <td class="it">
    
    -t
                </td>
                <td class="it">
    
    -mus
                </td>
                <td class="it">
    
    -tis
                </td>
                <td class="it">
    
    -nt
                </td>
            </tr>
            <tr>
                <td class="bf">
    
    pas.
                </td>
                <td class="it">
    
    -r
                </td>
                <td class="it">
    
    -ris
                </td>
                <td class="it">
    
    -tur
                </td>
                <td class="it">
    
    -mur
                </td>
                <td class="it">
    
    -minī
                </td>
                <td class="it">
    
    -ntur
                </td>
            </tr>
        </tbody>
        <caption>
    
    Přehled přípon v konjugacích slovesných tvarů odvozených od prézentního kmene
        </caption>
    </table>
</div>