<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th class="center">
    
    Persona
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
    
    1
                </td>
                <td class="it">
    
    laud-ā-ba-r
                </td>
                <td class="it">
    
    laud-ā-bā-mur
                </td>
            </tr>
            <tr>
                <td class="center">
    
    2
                </td>
                <td class="it">
    
    laud-ā-bā-ris
                </td>
                <td class="it">
    
    laud-ā-bā-minī
                </td>
            </tr>
            <tr>
                <td class="center">
    
    3
                </td>
                <td class="it">
    
    laud-ā-bā-tur
                </td>
                <td class="it">
    
    laud-ā-ba-ntur
                </td>  
            </tr>
        </tbody>
        <caption>
    
    Konjugace indikativu imperfekta pasiva 1. slovesné třídy
        </caption>
    </table>
</div>