<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th class="center">
    
    Persona
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
    
    1
                </td>
                <td class="it">
    
    leg-o-r
                </td>
                <td class="it">
    
    leg-i-mur
                </td>
            </tr>
            <tr>
                <td class="center">
    
    2
                </td>
                <td class="it">
    
    leg-e-ris
                </td>
                <td class="it">
    
    leg-i-minī
                </td>
            </tr>
            <tr>
                <td class="center">
    
    3
                </td>
                <td class="it">
    
    leg-i-tur
                </td>
                <td class="it">
    
    leg-u-ntur
                </td>  
            </tr>
        </tbody>
        <caption>
    
    Konjugace indikativu prézentu pasiva 3. slovesné třídy
        </caption>
    </table>
</div>