<div class="table-container">
    <table class="note-table">
        <thead>
            <tr>
                <th class="center">
    
    Persona
                </th>
                <th>
    
    Sg.
                </th>
                <th>
    
    Pl.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
    
    1
                </td>
                <td class="it">
    
    laud-ō
                </td>
                <td class="it">
    
    laud-ā-mus
                </td>
            </tr>
            <tr>
                <td class="center">
    
    2
                </td>
                <td class="it">
    
    laud-ā-s
                </td>
                <td class="it">
    
    laud-ā-tis
                </td>
            </tr>
            <tr>
                <td class="center">
    
    3
                </td>
                <td class="it">
    
    laud-a-t
                </td>
                <td class="it">
    
    laud-a-nt
                </td>  
            </tr>
        </tbody>
        <caption>
    
    Konjugace indikativu prézentu aktiva 1. slovesné třídy
        </caption>
    </table>
</div>