<!DOCTYPE html>
<html>
<head>
    {{partial "head.html" .}}
</head>
<body>
    <div class="content-container">
        <header class="layout-element">
            {{partial "site-header.html" .}}
        </header>
        <div class="flex-container">
            <aside class="site-map layout-element">
                <div class="layout-element-title">Peter's notes</div>
            </aside>
            <main class="page layout-element">
                <div class="page-header">
                    <div class="page-header-title">{{.Title}}</div>
                    <div class="page-header-utils">
                        <button id="copy-link-btn" class="icon-button">
                            <i id="copy-link-icon" class="fa-solid fa-link"></i>
                        </button>
                        <button id="print-button" class="icon-button">
                            <i id="print-icon" class="fa-solid fa-print"></i>
                        </button>
                    </div>
                </div>
                <div class="page-content">{{.Content}}</div>
                <footer></footer>
            </main>
            <aside class="toc layout-element">
                <div class="layout-element-title">On this page:</div>
                {{.TableOfContents}}
            </aside>
        </div>
    </div>
</body>
</html>