<div class="header-container">
    <button id="site-nav-btn" class="icon-button">
        <i id="site-nav-icon" class="fa-solid fa-angle-right"></i>
    </button>
    <div class="header-logo">
        <a href="{{.Site.BaseURL}}" class="header-logo-link">
            <img id="header-logo-img" src="">
        </a>
    </div>
</div>
<div class="header-search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input id="search-input" type="text" placeholder="Search my notes!">
</div>
<div class="header-utils">
    <button id="theme-btn" class="icon-button">
        <i id="theme-icon" class="fa-solid fa-moon"></i>
    </button>
    <button id="main-site-btn" class="icon-button">
        <a href="https://pgersl.xyz/" target="_blank">
            <i id="main-site-icon" class="fa-solid fa-globe"></i>
        </a>
    </button>
    <button id="search-btn" class="icon-button">
        <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>